name: Build & Deploy Docker App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/my-project-image:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/my-project-image:latest

      - name: Stop existing container (if any)
        run: |
          docker rm -f my-proj-container || true

      - name: Run new container
        run: |
          docker run -d \
            --name my-proj-container \
            -p 8081:80 \
            ${{ secrets.DOCKER_USERNAME }}/my-project-image:latest
