- name: Login to Docker Hub
  run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

- name: Build image
  run: docker build -t ${{ secrets.DOCKER_USERNAME }}/my-project-image:latest .

- name: Push image
  run: docker push ${{ secrets.DOCKER_USERNAME }}/my-project-image:latest

- name: Stop & remove container
  run: |
    docker stop my-proj-container || true
    docker rm my-proj-container || true

- name: Run container
  run: |
    docker run -d \
      --name my-proj-container \
      -p 8081:80 \
      --restart always \
 ${{ secrets.DOCKER_USERNAME }}/my-project-image:latest
